body {
    background-color: aliceblue
}
h1 {
    font-size: 52px
}
h1 {
    color: rgba(0, 78, 255, 0.55)
}
h2 {
    color: cornflowerblue
}
h2 {
    font-size: 23px
}
li {
    color: #ba36b0
}
a {
    color: darkblue
}
